@font-face {
  font-family: 'Gabriola';
  font-style: normal;
  font-weight: normal;
  src: local('Gabriola'), url('/assets/gabriola.woff') format('woff');
}


body {
  margin: 0;
  /* https://leaverou.github.io/css3patterns/ */
  background-color:#FFFFFF;
  color: #000;
  font-family: 'Gabriola', sans-serif;
}

header {
  margin-bottom: 25px;
  img {
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

#page {
  width: 1420px;
  margin: 0 auto;
  background: #ffffff;
  font-size: 1.4em;
}

#content {
  padding: 20px;
  h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1,5em;
  }
  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }
}

nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: red;
  padding: 0px;
  font-size: 1.2em;
  ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  ul a {
    flex: auto;
    text-align: center;
    border: 0px solid black;
    margin: 5px 25px;
    padding: 2px;
    li.active {
      font-weight: bold;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.accommodation {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  img {
    width: 250px;
  }
  h3 {
    margin: 0;
    a {
      text-decoration: none;
      color: #000;
    }
  }
  &:nth-child(odd) :nth-child(1) {
    margin: 0 10px 0 0;
  }
  &:nth-child(even) :nth-child(1) {
    order: 1;
  }
  &:nth-child(even) :nth-child(2) {
    flex-grow: 1;
  }
}

img.small {
  display: none;
}

.center {
  text-align: center;
}

@media screen and (max-width: 1280px) {
  #page {
    width: 100%;
  }
  nav {
    padding: 5px
  }
  nav ul  {
    flex-direction: column
  }
  img.small {
    display: inline;
  }
  img.large {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .accommodation {
    flex-direction: column;
    &:nth-child(even) :nth-child(1) {
      order: 0;
    }
    div:nth-child(1) {
      margin: 0 auto !important;
    }
  }
}
