body {
  margin: 0;
  /* https://leaverou.github.io/css3patterns/ */
  background-color:#FFFFFF;
  color: #000;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-family: 'Lato', sans-serif;
}

header {
  margin-bottom: 25px;
  img {
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

#page {
  width: 1420px;
  margin: 0 auto;
  background: #ffffff;
  font-size: 1.05em;
}

#content {
  padding: 20px;
}

nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0px;
  font-size: 1.05em;
  ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  ul a {
    flex: auto;
    text-align: center;
    border: 1px solid black;
    margin: 5px 25px;
    padding: 2px;
    li.active {
      font-weight: bold;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.accommodation {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  img {
    width: 250px;
  }
  h2 {
    margin: 0;
    a {
      text-decoration: none;
      color: #000;
    }
  }
  &:nth-child(odd) :nth-child(1) {
    margin: 0 10px 0 0;
  }
  &:nth-child(even) :nth-child(1) {
    order: 1;
  }
  &:nth-child(even) :nth-child(2) {
    flex-grow: 1;
  }
}

@media screen and (max-width: 900px) {
  #page {
    width: 60%;
  }
  nav {
    padding: 5px
  }
  nav ul  {
    flex-direction: column
  }
}

@media screen and (max-width: 750px) {
  .accommodation {
    flex-direction: column;
    &:nth-child(even) :nth-child(1) {
      order: 0;
    }
    div:nth-child(1) {
      margin: 0 auto !important;
    }
  }
}
