@font-face {
  font-family: 'Gabriola';
  font-style: normal;
  font-weight: normal;
  src: local('Gabriola'), url('/assets/gabriola.woff') format('woff');
}


body {
  margin: 0;
  /* https://leaverou.github.io/css3patterns/ */
  background-color:#FFFFFF;
  color: #000;
  font-family: 'Gabriola', sans-serif;
}

header {
  margin-bottom: 25px;
  img {
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

#page {
  width: 1420px;
  margin: 0 auto;
  background: #ffffff;
  font-size: 1.4em;
}

#content {
  padding: 0 20px 20px 20px;
  p {
    font-weight: bold;
    font-size: 1.1em;
  }
  h2 {
    font-size: 2.5em;
    line-height: 1.1em;
    text-align: center;
    margin: 50px 0;
  }
  h3 {
    font-size: 2em;
    line-height: 1.1em;
  }
  h4 {
    font-size: 1,5em;
  }
  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }
}

nav {
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  background-color: #f7f7f7;
  padding: 0px;
  font-size: 1.2em;
  ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  ul a {
    flex: auto;
    text-align: center;
    border: 0px solid black;
    margin: 5px 25px;
    padding: 2px;
    text-decoration: none;
    color: black;
    li.active {
      font-weight: bold;
    }
  }
  ul li:hover {
    cursor: pointer;
  }
}

footer {
  background-color: #f7f7f7;
  display: flex;
  width: 100%;
  justify-content: center;
  p {
    margin: 10px;
    text-align: center;
  }
}

#wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  .accommodation {
    width: 50%;
    &:not(:first-child):not(:nth-child(2)) {
      margin-top: 30px;
    }
    p {
      margin: 0;
      text-indent: 20px;
    }
  }
  h3 {
    margin: 0;
    a {
      text-decoration: none;
      color: #000;
    }
  }
}

img.small {
  display: none;
}

.center {
  text-align: center;
}

.left {
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1280px) {
  #page {
    width: 100%;
  }
  nav {
    padding: 5px
  }
  nav ul  {
    flex-direction: column
  }
  img.small {
    display: inline;
  }
  img.large {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  #wrap .accommodation {
    width: 100%;
    &:not(:first-child) {
      margin-top: 40px;
    }
  }
}
